@keyframes animationEnterLeftToRight {
  from {
    transform: translateX(20px);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes animationEnterRightToLeft {
  from {
    transform: translateX(-400px);
  }

  to {
    transform: none;
  }
}