@keyframes animationEnterLeftToRight {
  from {
    transform: translateX(20px);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes animationEnterRightToLeft {
  from {
    transform: translateX(-400px);
  }

  to {
    transform: none;
  }
}

@keyframes animationPulse {
  0% {
    opacity: 0.66;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.66;
  }
}

.animation-pulse {
  animation: animationPulse 1.5s infinite ease-in-out;
}