@use "./animations.scss";
@use "reactflow/dist/base.css";

html {
  background: none rgb(20, 20, 20);
  // font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  //   Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  // -webkit-text-size-adjust: 100%;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // -webkit-tap-highlight-color: transparent;
  // line-height: 1.5;
  // tab-size: 4;

  // font-family: 'Jost', sans-serif;
  // color: #ffffff;
  // 
  // /** CSS DARK THEME PRIMARY COLORS */
  // --color-primary-100: #4c2bf0;
  // --color-primary-200: #6b44f3;
  // --color-primary-300: #835bf5;
  // --color-primary-400: #9872f8;
  // --color-primary-500: #ac89fa;
  // --color-primary-600: #bea0fb;
  // /** CSS DARK THEME SURFACE COLORS */
  // --color-surface-100: #111112;
  // --color-surface-200: #272728;
  // --color-surface-300: #3e3e3f;
  // --color-surface-400: #565657;
  // --color-surface-500: #707071;
  // --color-surface-600: #8b8b8b;
  // /** CSS DARK THEME MIXED SURFACE COLORS */
  // --color-surface-mixed-100: #1a1525;
  // --color-surface-mixed-200: #2f2a3a;
  // --color-surface-mixed-300: #46414f;
  // --color-surface-mixed-400: #5e5966;
  // --color-surface-mixed-500: #76727e;
  // --color-surface-mixed-600: #908d96;
}

html,
body,
#root,
.ant-app {
  margin: 0;
  width: 100%;
  height: 100%;

  .react-flow__edge-path,
  .react-flow__connection-path {
    stroke-width: 2;
    stroke: #4c2bf0;
    // stroke: url(#edge-gradient);
    z-index: 1000;
  }
}